<html>
<head>
  <title>Hospital Home</title>
  <link rel="stylesheet" type="text/css" href="HH style.css">
</head>
<body>
  <div class="container">
    <img src="hospital_logo.png" alt="hospital Logo" class="logo">
    <h1>Welcome, Hospital!</h1>
    <nav>
      <ul>
        <li><a href="view-appointment-details.html">View Appointment Details</a></li>
      </ul>
    </nav>
     <p class="logout-link"><a href="logout.html">Logout</a></p>
  </div>
  <script src="script.js"></script>
</body>
</html>