<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="Login style.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href="signup-admin.html">Sign up as administrator</a> or <a href="Hospital register.html">Register</a> or <a href="signup-parent.html">Sign up parent</a></p>
  </div>
  <script src="Login script.js"></script>
</body>
</html>