
<html>
<head>
  <title>Parent Home</title>
  <link rel="stylesheet" type="text/css" href="PH style.css">
</head>
<body>
  <div class="container">
    <img src="parent_logo.png" alt="Parent Logo" class="logo">
    <h1>Welcome, Parent!</h1>
    <nav>
      <ul>
        <li><a href="manage-child-data.html">Manage Child Data</a></li>
        <li><a href="book-appointment.html">Book Appointment</a></li>
        <li><a href="view-appointment.html">View Appointment</a></li>
        <li><a href="view-appointment-status.html">View Appointment Status</a></li>
        <li><a href="my-profile.html">My Profile</a></li>
        <li><a href="change-password.html">Change Password</a></li>
        <li><a href="my-reminder.html">My Reminder</a></li>
      </ul>
    </nav>
    <p class="logout-link"><a href="logout.html">Logout</a></p>
  </div>
</body>
</html>