<!DOCTYPE html>
<html>
<head>
  <title>View Appointment Details - Child Vaccination System</title>
  <link rel="stylesheet" type="text/css" href="VC style.css">
</head>
<body>
   <div class="logo">
      <img src="logo.png" alt="Child Vaccination System Logo">
    </div>
    <h1>View Appointment Details</h1>
    <p>
      This page displays the appointment details scheduled in the Child Vaccination System.
    </p>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search by name...">
      <button id="search-button">Search</button>
    </div>
    <h2>Scheduled Appointments</h2>
    <table id="appointment-table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Hospital</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Parent/Guardian's Number</th>
        </tr>
      </thead>
      <tbody id="appointment-data"></tbody>
    </table>
  </div>
  <script src="VA script.js"></script>
</body>
</html>